@font-face {
    src: url("fonts/VotoSerifGX.woff2") format("woff2"),
        url("fonts/VotoSerifGX.ttf") format('truetype');

    font-family: 'Voto';
    font-style: normal;
    font-weight: normal;
    }
   
   /* *
    {
       border: blue 3px dashed; 
    } */

    body{
    background-color: rgb(255, 255, 255);
    font-family: 'Voto';
    font-size: larger;
}
/* how the page wrapper will appear on mobile */
.page-wrapper{
    width: min(100% - 4rem);
    margin-inline: auto;
}
/* how the page wrapper appears on desktop */

/* @media only screen and (min-width:800px){
.page-wrapper{
display: grid;
grid-gap: 25px;
grid-template-columns: 1fr 1fr;
grid-template-rows: auto;
grid-template-areas: 
    "h v"
    "a a";
}
} */
.heading{
    background-color: #60abbb;
}

.hero{
    background-color: #60abbb;
    /* padding-top:20px; */
}

.two-section{
    display: grid;
    grid-gap: 25px;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto auto;
    grid-template-areas: 
        "h g"
        "h g";
    }
    
    #history
    {
        grid-area: h;
        }

    #glyphs{
            grid-area: g;
            }

.alphabet{
grid-area: v;
}

.download {
grid-area: a;
}

/* CSS for the footer */
footer{
    background-color: #60abbb;
}

h1{
    font-size: 23px;
}



/* variable font animation */
h3{
    font-weight:20; 
    text-align: center;
    font-size: 6em;
    animation: weightChange 7s infinite; 
}

@keyframes weightChange {
    0%, 100%{
     font-variation-settings: "wdth" 50, "wght" 28, "opsz" 12;
    }

    50%{
        font-variation-settings: "wdth" 100, "wght" 118, "opsz" 12;
    }
    
}

/* variable font that changes on hover */
.variable-font{
    font-weight:1 ;
    height:100vh;
    font-size: 10em;
    display:grid;
    place-content: center;
    margin: 0;
    text-align: center;
    font-variation-settings: "wght" 40, "wdth" 0, "XXXX" 1;
    transition: 
        font-weight 500ms,
        font-variation-settings 3s;
}

.variable-font:hover{
    font-weight:500 ;
    height:100vh;
    font-size: 7em;
    display:grid;
    place-content: center;
    margin: 0;
    text-align: center;
    font-variation-settings: "wght" 120, "wdth" 0, "XXXX" 100;
}

